.App {
  text-align: center;
  background-color: #b2c7c3;
  color: white;
  font-size: 30px;
  min-height: 100vh;
}

/* Individual item */
.bm-item {
  /* Our sidebar item styling */
  margin-bottom: 10px;
  color: #d1d1d1;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}
/* General sidebar styles */
.bm-menu {
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.proj {
  background: lightgrey;
  border-radius: 10px;
  width: 450px;
  height: 450px;
  display: inline-flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  margin: 40px;
}

.exp {
  width: 50%;
  margin: 10px;
  display: inline-flex;
  flex-direction: column;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33%;
  padding: 10px;
}

@media screen and (max-width: 1000px) {
  .column {
    width: 100%;
  }
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
